.container {
        width : 20rem;
        height : 20rem;
        display: flex;
        flex-direction: column;
        gap : 0.5rem;
        align-items: start;
        justify-content: start;
        background: white;
        color : rgb(93, 90, 90); 
        border : solid white 1px;
        border-radius: 25px;
        position: relative;
}

.container h1 {
    color : rgb(16, 84, 123);
    font-size: 25px;
    margin: 1.2rem 1rem;
}
.container small {
    font-size: 15px;
    width: 70%;
    margin-left : 1.2rem;
}