.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 1.5rem;
    flex-direction: column;
    margin-top : 5rem;
}

.container h1{
    align-self : start;
}

.items {
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}