.container{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.head {
    padding: 1rem;
    width : 100%;   
    text-align : center;

}
 .head h1 {
        font-size: 4.2rem;
 }

 .actions{
    width : 100%;
    display : grid;
    place-items: center;
 }

 .actions button {
    background-color: white;
    color : rgb(27, 98, 126);
    border: none;
    padding : 0.8rem 4.2rem;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px;
 }