.container__video{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 3rem;
    
    
}

.icon {
       transform: translate(18rem,3rem) !important;
       cursor: pointer;
}
.video video {
    margin-top : 3rem;
    border : solid 1px white;
    border-radius: 20px;
}

.actions{
    display: flex;
    gap : 1rem;
    flex-wrap : wrap;
}

.actions button {
    padding : 0.8rem;
    background:  white;
    border : none;
    border-radius: 10px;
    color : black;
    font-weight: bolder;
    cursor: pointer;
    transition: all ease 400ms;
}

.actions button:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.actions a  {
    padding : 0.8rem;
    background:  white;
    border : none;
    border-radius: 10px;
    color : rgb(17, 12, 12);
    font-weight: bolder;
    cursor: pointer;
}